.feed {
  flex: 0.9;
  border-left: 1px solid #eee;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* TwitterTextarea */
#tweetbox {
  display: flex;
  width: 100%;
  padding: 0 15px 15px 15px;
}

.tweetinput {
  border: none;
  font-size: 20px;
  padding: 13px 0;
  width: 100%;
}

#tweetbox input[type="submit"] {
  background: var(--primary-color-light);
  border: none;
  border-radius: 100px;
  padding: 8px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

.feed__tweetbox {
  display: flex;
  padding: 15px 15px 0;
  border-bottom: 10px solid #eee;
}

/* Stick Top */
.feed__stickytop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.feed__stickytop h1 {
  font-size: 20px;
}

.feed__stickytop .svg-inline--fa {
  color: #1da1f294;
}

/* Form */
.feed__mediaoptions ul {
  list-style: none;
  display: flex;
  margin: 15px 0 0;
  padding-left: 0;
}

.feed__mediaoptions ul li {
  padding: 5px;
  display: grid;
  place-items: center;
  border-radius: 46px;
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-color-light);
}

.feed__mediaoptions ul li:hover {
  background: #1da1f226;
}

#tweet_button:hover {
  background: none;
}

/* Post */
.feed__post {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #eee;
  background: transparent;
  transition: background 0.1s linear;
}

.feed__post:hover {
  background: #eee;
  cursor: pointer;
}

.feed__postdata {
  padding-left: 15px;
}

.feed__posttitle {
  display: flex;
  align-items: center;
}

.feed_more {
  margin-left: auto;
}

.feed__profileimg {
  background-image: url("../images/Ramsey.png");
}

.feed__profileimg,
.feed__postimage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.feed_certificate {
  color: var(--primary-color);
  margin-right: 5px;
  font-size: 16px;
}

.feed_twitterhandle {
  margin-right: 5px;
  font-size: 13px;
}

.feed__postcopy {
  padding: 15px 15px 15px 0;
  text-transform: capitalize;
}

.feed__postmedia img {
  width: 100%;
  border-radius: 10px;
}

.feed_username {
  font-weight: 800;
  margin-right: 5px;
  font-size: 18px;
}

.feed>svg {
  position: fixed;
  top: 75%;
  left: 79%;
  font-size: 33px;
  background: #1da1f2;
  padding: 17px;
  border-radius: 100pc;
  color: #fff;
  display: block;
}

.feed__postmetadata {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.feed__postmetadata li {
  border-radius: 50px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.feed__postmetadata li span {
  font-size: 12px;
}

.feed__postmetadata li svg {
  padding: 10px;
  border-radius: 20px;
}

.feed__postmetadata li:nth-child(1):hover svg,
.feed__postmetadata li:nth-child(4):hover svg {
  color: var(--primary-color-light);
  background: #1da1f22e;
}

.feed__postmetadata li:nth-child(1):hover span,
.feed__postmetadata li:nth-child(4):hover span {
  color: var(--primary-color-light);
}

.feed__postmetadata li:nth-child(2):hover span {
  color: lightgreen;
}

.feed__postmetadata li:nth-child(2):hover svg {
  color: lightgreen;
  background: #90ee9040;
}

.feed__postmetadata li:nth-child(3):hover span {
  color: #ee90eb;
}

.feed__postmetadata li:nth-child(3):hover svg {
  color: #ee90eb;
  background: #ee90eb47;
}

.feed__mediaoptions {
  width: 100%;
}

@media screen and (min-width: 500px) {

  /* Profile Image */
  .feed__profileimg,
  .feed__postimage {
    width: 60px !important;
    min-width: 60px !important;
    height: 60px !important;
  }
}

@media screen and (min-width: 768px) {
  #tweetbox input[type="submit"] {
    display: block;
  }

  .feed>svg {
    display: none;
  }

  .feed__stickytop {
    padding: 15px 20px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .feed {
    flex: 0.7;
  }
}