.widgets {
  display: none;
  overflow: scroll;
  height: 100%;
  flex: 0.4;
  border-left: 1px solid #eee;
}
.widgets form {
  text-align: center;
}
.widgets input {
  background: #e5eef2;
  width: 100%;
  max-width: 375px;
  border: none;
  font-size: 16px;
  padding: 10px 4px;
  text-indent: 40px;
  border-radius: 40px;
}
.widgets__inputcontainer {
  position: relative;
}
.widgets__inputcontainer svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}
.widgets__stickytop {
  padding: 15px 0 9px 0px;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
}
.widgets__feedcontainer {
  padding: 0 15px;
}
@media screen and (min-width: 991px) {
  .widgets {
    display: block;
  }
}
